/* цвет основного текста #757575 */
/* вторичный цвет текста  #212121 */

/* белый #FFFFFF  */
/* акцент #2196F3 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  

.body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 400;

}

/* Logo */

.logo {
color: var(--title-text-color);
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration:none;
 }
.logo>span
{ color: blue;}
.logo:hover {
  color: var(--accent-color);
}
.logo:focus{
    color:var(--accent-color)}

/*hero
.hero-title {
  color: var(--title-text-color)
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}*/

/*Title h2
.title
color: var(--title-text-color)
font-weight: 700;
font-size: 36px;
line-height: 1.16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}*/



/*link */
.link:hover{color:var(--accent-color)}
.link:focus{color:var(--accent-color)}
.link:active{color:var(--accent-color)}

.p{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
